.projects,
.blog {
	text-align: center;
}

.projects h2,
.blog h2 {
	text-align: left;
}

.projects .card {
	max-height: 150px;
	min-height: 150px;
}

.projects .content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	gap: 1rem;
	padding: 1rem 0;
}

.workExperience .cardContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.blog .card {
	padding: 1rem;
	background: transparent;
}
