:root {
	--color-text-muted: #3b3b3bc9;
}

[data-theme="dark"] {
	--color-text-muted: #818181;
}

.text-muted {
	color: var(--color-text-muted);
}

p {
	margin-bottom: 1rem;
	max-width: 70ch;
	line-height: 1.5;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 1rem 0;
	font-weight: 700;
}

h1 {
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

h2 {
	line-height: 1.3;
}

h3 {
	line-height: 1.4;
}

h4 {
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 0 1rem 0;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 425px) {
	body {
		font-size: 0.95rem;
	}

	h1 {
		font-size: 1.6rem;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.3rem;
		line-height: 1.4;
	}

	h3 {
		font-size: 1.1rem;
		line-height: 1.5;
	}

	h4 {
		font-size: 1rem;
		line-height: 1.5;
	}

	p {
		line-height: 1.4;
	}
}
